/*
[ABOUT]
--------------------------------------------------------
|       Quản Trị WebSite Bởi Vũ Tiến Anh               |
|       Điều hành và quản trị : Vũ Tiến Đức            |
| Mail: vutienanh2901@gmail.com - Fb/VuTienAnh.Vn      |
|         W W W . V U T I E N D U C . N E T            |
--------------------------------------------------------
[Giao diện: www.blogchiasethuthuat.com & startemplatevn.net & vutienanh.pro]
Vui lòng Tôn Trọng tác giả!
*/
/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
span,b{font-family:'Segoe UI',sans-serif!important;}
span.label-info a.label-block:nth-child(n+2),.showpageOf,.quickedit,#ContactForm1,#ContactForm1 br{display:none}
body{background:#fff;font-family:'Segoe UI',sans-serif;font-size:14px;font-weight:400;text-align:left;color:#222;margin:0;padding:0}
.row{max-width:1200px;margin:0 auto}
.navbar,.post-feeds,.feed-links{display:none}
.section,.widget{margin:0;padding:0}
strong,b{font-weight:700;padding:0}
cite,em,i{font-style:italic}
a:link,a:visited{color:#66689c;text-decoration:none;transition:all .3s}
a:hover,a:hover:visited{color:#66689c}
a img{border:none;border-width:0;outline:none}
img{max-width:100%;vertical-align:middle;border:0}
abbr,acronym{border-bottom:1px dotted;cursor:help}
sup,sub{vertical-align:baseline;position:relative;top:-.4em;font-size:86%}
sub{top:.4em}
small{font-size:86%}
kbd{display:inline-block;font-size:90%;color:#3498db}
mark{background-color:#ffce00;color:#182025}
p,blockquote,table,figure,hr,form,ol,ul,dl{margin:0}
hr{height:1px;border:none;background-color:#999}
code,kbd,samp{font-family:monospace,monospace}
:focus{outline:0!important}
/* HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1;display:block}
*{margin:0;padding:0}
html{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{background:transparent}
table{border-collapse:collapse;border-spacing:0}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
ins{background:#fff}
/* Body Layout */
body#layout ul,#layout ul,#menu-st{display:none}
body#layout .post-inner,body#layout .sidebar,body#layout .sidebartop{padding:0}
body#layout #wrapper,body#layout .post-inner,body#layout .sidebar-inner{padding:0}
body#layout #header-wrapper{min-height:0;width:100%}
body#layout #header-left{width:30%;float:left}
#layout,#layout .widget-content,#layout .add_widget{border:none}
body#layout .add_widget{border:1px solid #ddd}
#layout .add_widget a{color:#222}
#layout #header-wrapper{min-height:0;width:100%;margin:10px 0 0}
#layout #footer-wrapper .footer-column{width:33.33%;float:left}
#layout #main-wrapper{width:70%;float:left}
#layout #sidebar-wrapper{width:30%;left:0;padding:0;float:right}
#layout .draggable-widget .widget-wrap2{background:#c1cfd9}
#layout #banner,#layout #banner2{background-color:#444;padding:20px 0!important;margin-bottom:20px}
#layout #banner .widget,#layout #banner2 .widget{width:80%;margin:5px auto!important;overflow:hidden;float:none}
#layout #banner .add_widget,#layout #banner2 .add_widget{width:80%;margin:5px auto!important;overflow:hidden;float:none}
#footer-xwidget .footer-widget{width:31.7%;float:left;margin-left:10px}
#footer-wrapper{overflow:hidden;margin:0 auto 20px;padding:20px 0 0}
/* Hearding */
h1,h2,h3,h4,h5,h6{font-weight:700;line-height:normal}
h1{font-size:200%}
h2{font-size:180%}
h3{font-size:160%}
h4{font-size:140%}
h5{font-size:120%}
h6{font-size:100%}
/* Post Body */
.post-body blockquote{position:relative;background:#f8f8f9;border-left:none;padding:15px 55px;color:#676767;font-weight:400;line-height:22px;border: 1px dashed #9c0;margin: 10px 0;}
.post-body blockquote:before{color:#bbb;position:absolute;top:15px;left:20px;display:inline-block;font-family:'FontAwesome';font-style:normal;font-weight:400;line-height:1;content:"\f10d";font-size:20px;-webkit-font-smoothing:antialiased}
.post-body blockquote:after{color:#bbb;position:absolute;bottom:15px;right:20px;display:inline-block;font-family:'FontAwesome';font-style:normal;font-weight:400;line-height:1;content:"\f10e";font-size:20px;-webkit-font-smoothing:antialiased}
.post-body h1{font-size:200%}
.post-body h2{font-size:180%;font-weight: 400;}
.post-body h3{font-size:160%;margin: 0 0 10px}
.post-body h4{font-size:140%;font-weight: 400;margin: 10px 0 0;}
.post-body h5{font-size:120%}
.post-body h6{font-size:100%}
.post-body h1 b,.post-body h2 b,.post-body h3 b,.post-body h4 b,.post-body h5 b,.post-body h6 b{font-weight:700}
input,button,select,textarea{font-size:100%;line-height:normal;vertical-align:baseline}
textarea{display:block;box-sizing:border-box}
input.placeholder_text,textarea.placeholder_text{color:#888}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input:-moz-placeholder,textarea:-moz-placeholder,input.placeholder_text,textarea.placeholder_text{color:#888}
[placeholder]:focus::-webkit-input-placeholder{transition:opacity .5s .5s ease;opacity:0}
.post ul li span{position:relative;display:block;padding:0;margin:.5em 0 .5em 2em;text-decoration:none}
ol{counter-reset:li;list-style:none;padding:0;margin:0}
ol ol{margin:0 0 0 2em}
.post ol li{position:relative;display:block;padding:0;margin:.5em 0 .5em 2em;background:#fff;text-decoration:none}
.post ol li:before{content:counter(li);counter-increment:li;position:absolute;left:-2.5em;height:2em;width:2em;text-align:center}
.post-body ul{position:relative;display:block;padding:0;margin:.5em 0 .5em 1.5em;text-decoration:none}
.post-body table{width:100%}
.post-body table td,.post-body table caption{background-color:#fff;border:1px solid #e3e3e3;padding:10px;text-align:left;vertical-align:top}
.post-body table th{border:1px solid #6f7cb0;padding:10px;text-align:left;vertical-align:top}
.post-body table.tr-caption-container{border:0}
.post-body th{font-weight:700}
.post-body table caption{border:none;font-style:italic}
.post-body td,.post-body th{vertical-align:top;text-align:left;font-size:13px;padding:3px 5px;border:1px solid #97b28e}
.post-body th{background:#8593cc;color:#fff}
.post-body th:hover{background:#6f7cb0}
.post-body td a{color:#444}
.post-body td a:hover{color:#cf4d35}
.post-body table.tr-caption-container td{border:none;padding:0}
.post-body table.tr-caption-container,.post-body table.tr-caption-container img,.post-body img{max-width:100%;height:auto}
.post-body li{list-style-type:square}
.post-body td.tr-caption{color:#666;font-size:80%;padding:0 8px 8px!important}
.sr{visibility:hidden;width:0;height:0}
.clear{clear:both}
html{-webkit-font-smoothing:antialiased}
a img,img:hover{background:transparent}
/* Notifikasi Adblocker Adsense */
#keep-ads{padding:0;position:fixed;bottom:0;opacity:0;height:auto;transition:all .6s cubic-bezier(.25,.8,.25,1);-webkit-transform:translateZ(0);transform:translateZ(0);backface-visibility:hidden;transition:all .2s ease-in-out,visibility 0s;transform-origin:bottom center;}
.keep-adsme{background:#e74c3c;color:#fff;position:absolute;text-align:center;padding:0 30px 30px 30px;margin:auto;top:20%;left:0;right:0;font-size:1.5rem;line-height:1.5;font-family:monospace;max-width:930px;transition:all .6s cubic-bezier(.25,.8,.25,1);border:15px solid rgba(0,0,0,.07);overflow:hidden;border-radius: 10px;}
.keep-adsme h4{display:inline-block;background:rgba(0,0,0,.07);padding:5px 25px 15px 25px;font-size:2.2rem;margin:0 auto}
#keep-ads p{margin:0}
#keep-ads a{color:#ffe88b;}#keep-ads a:hover{color:#ffe88b;text-decoration:underline}
#keep-ads.show{left:0;top:0;right:0;z-index:99999;opacity:1;visibility:visible;transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);animation:wobble .7s;opacity:1;}
.close-keep-ads{visibility:hidden;opacity:0;color:#ffe88b;text-align:center;position:absolute;bottom:10px;right:10px;font-size:42px;cursor:pointer;width:30px;height:30px;line-height:30px;border-radius:100%;transition:all .6s cubic-bezier(.25,.8,.25,1);transform:translate(0,50px);}
.close-keep-ads:hover{color:#fff;transform:scale(1.0);}
.keep-adsme:hover .close-keep-ads{visibility:visible;opacity:1;color:#ffe88b;transform:translate(0,0);}
#keep-ads p span {font-family:fontawesome;font-size:5rem;}
@keyframes wobble{0%{transform:scale(0) rotate(-54deg) translatey(40px)}45%{transform:scale(1.1) rotate(20deg) translatey(0px)}60%{transform:scale(1) rotate(-15deg) translatey(0px)}77%{transform:scale(1) rotate(10deg) translatey(0px)}100%{transform:translatey(0)}}
/* Box Download */
.box-download{background:#e2f2cb;border-color:#D1E4B7;padding:15px;display:block;position:relative;margin:15px 0;border-radius:5px}
.box-center{padding-left:70px}
.box-center p{margin:5px 0}
.fa-dl{display:block!important;float:left;margin-left:-70px;font-size:50px!important;color:#8ab84d}
/* Code Box */
pre{font-size:16px;background:#f1f1f1;color:#222;border-radius:3px;box-sizing:border-box;padding:10px;margin:10px 0;overflow:auto;word-wrap:normal;white-space:pre;position:relative;height:100%;max-height:350px}
pre:before{position:fixed;top:0;left:0;font-size:20px;font-weight:700;content:'BẤM CHUỘT ĐỂ TÔ ĐEN VÀ SAO CHÉP';text-transform:uppercase;background:white;color:#66689c;width:100%;text-align:center;padding:15px 0;line-height:1;opacity:0;visibility:hidden;transform:scaleY(0);z-index:99;-webkit-transition:all .6s;-moz-transition:all .6s;-o-transition:all .6s;letter-spacing:0;box-shadow:0 6px 6px rgba(0,0,0,.1)}
pre:hover:before{transform:scaleY(1);opacity:1;visibility:visible;transition:all .5s}
/* Demo Dowload */
/* CSS Simple Button Flat UI by Libra Yanada */
@-webkit-keyframes glowing {
0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
}
@-moz-keyframes glowing {
0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
}
@-o-keyframes glowing {
0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}
@keyframes glowing {
0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}
#wrap { margin:20px auto; text-align:center; } #wrap br { display:none; } .btn { display:inline-block; position:relative; font-family:'Source Sans Pro', Helvetica, sans-serif; background:#3b3f48; padding:6px 14px; font-size:14px; margin:0 3px; color:#fff!important; border-radius:3px; border:none; text-transform:uppercase; text-decoration:none; transition:all 0.3s ease-out; }
.btn.down { -webkit-animation: glowing 1500ms infinite; -moz-animation: glowing 1500ms infinite; -o-animation: glowing 1500ms infinite; animation: glowing 1500ms infinite;background:#3b3f48; color:#fff!important; } .btn.down:hover,.btn.down:active,.btn:hover,.btn:active { background:#fc4f3f; color:#fff; } a.btn.down:hover,a.btn.down:active,a.btn:hover,a.btn:active { color:#fff; } .btn i { margin-left:10px; font-weight:normal; font-family:FontAwesome; }
/* Webkit override Scrollbar with CSS3 */
::-webkit-scrollbar {
width: 8px; height:8px;
}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 4px rgb(220,220,220);
background:#fff;
}
::-webkit-scrollbar-thumb {
background: rgb(220,220,220);
-webkit-box-shadow: inset 0 0 6px rgb(220,220,220);
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(186,35,35,0.4);
-webkit-box-shadow: inset 0 0 6px rgb(220,220,220);
}
.hide {
display: none;
background: #f9f9f9;
color: #111;
border-radius: 5px;
border-bottom: 4px solid #f1f1f1;
padding: 20px;
}
.show {
padding: 20px;
background: #f9f9f9;
color: #111;
border-radius: 5px;
border-bottom: 4px solid #f1f1f1;
text-align: center;
}
.show .fb-like {
margin-top: 0;
top: -7px;
position: relative;
}
.show .twitter-share-button {
margin-right: 25px;
}
.lk {
display: inline-block;
height: px;
line-height: px;
color: #aaa!important;
background: #333;
padding: 4px;
font-size: 12px;
border-radius: 5px;
clear: both;
margin: 5px;
}
